.movieContainer {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 50px;
  width: 80%;
  margin: 0 auto;
}

.poster {
  border-radius: 20px;
  max-width: 70%;
  place-self: center;
}

.title {
  color: white;
  font-size: 36px;
  font-weight: 400;
}

.container {
  display: grid;
  grid-auto-rows: minmax(200px, auto);
  grid-template-columns: repeat(5, 1fr);
  gap: 25px;
  max-width: 90%;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 100px;
}

.container img {
  width: 100%;
  aspect-ratio: 1/1.5;
}

.item div {
  height: 38px;
}

.item h3 {
  margin-top: 10px;
}

.item p {
  opacity: 0.6;
  font-size: 16px;
  margin-top: 3px;
}
