.container {
  display: grid;
  grid-auto-rows: minmax(200px, auto);
  grid-template-columns: repeat(5, 1fr);
  gap: 25px;
  max-width: 90%;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 100px;
}

.container img {
  width: 100%;
  aspect-ratio: 1/1.5;
}

.item div {
  height: 38px;
}

.item h3 {
  margin-top: 10px;
}
