.container {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding-bottom: 100px;
}

.container iframe {
  width: 100%;
  border-radius: 10px;
  opacity: 0.8;
  transition: opacity 0.1s ease-in-out;
  aspect-ratio: 16/9;
}

.container iframe:hover {
  opacity: 1;
}
